{% extends "base.html" %}
{% block title %}The Ecosystem{% endblock %}
    {% block welcome %}
    <h1>
      Welcome to the Ecosystem :D
    </h1>
    {% endblock %}

    {% block stuff %}
    <p>
      You've stumbled upon my fine corner of the internet, please make yourself at home!
      Why don't you go ahead and sign up! There's free games that I've made (poorly) inside!
    </p>
    {% endblock %}

    {% block loginhead %}Join Today!{% endblock %}
    {% block form %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for msg in messages %}
            <p>{{msg}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    <form action="#", method="post">
      <p> Name: <input type="text" name="nm" /></p>
      <p> Password: <input type="text" name="pw" /></p>
      <p><input type="submit" value="Login" /></p>
      </form>
    {% endblock %}
