
body {
  color: #373D4E;
  background: #121212;
}

h1 {
  color: #F9FAFE;
  margin-left: auto;
  background-color: #101010;
}

h2 {
  color: #F9FAFE;
  margin-left: auto;
  background-color: #101010;
}

table {
  color: #F9FAFE;
  margin-left: auto;
  background-color: #101010;
}

td {
  color: #F9FAFE;
  margin-left: auto;
  background-color: #101010;
}

tr {
  color: #F9FAFE;
  margin-left: auto;
  background-color: #101010;
}

p {
  color: #F9FAFE;
}
