<html>
{% extends "base.html" %}
  <body>
    {% block welcome %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages %}
      <h2>{{msg}}</h2>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}

{% block content %}
<form method="post">
  <input name="placeX" placeholder="x coord">
  <input name="placeY" placeholder="y coord">
  <input type="submit" value="Place Ship">
</form>

<table>
{% for row in board %}
<tr>
  {% for slot in row %}
  <td>{{slot}}</td>
  {% endfor %}
</tr>
{% endfor %}
</table>

<form action="/gameLogic" method="post">
  <input name="xin" placeholder="x coord">
  <input name="yin" placeholder="y coord">
  <input type="submit" value="Fire">
</form>

{% endblock %}
</body>
</html>
