<html>
{% extends "base.html" %}
  <body>
    {% block content %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <h2>{{msg}}</h2>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <p> This is a test of flask-mail just to prove it works, all this will do is send</p>
    <p> an email to the address provided, if none is provided it'll send one to my personal email just</p>
    <p> to prove to me that it works. I promise, it doesn't actually get saved anywhere, I don't want </p>
    <p> anyone else's email, I just wanna prove to employers that I can do some stuff with python </p>

    <form method="post">
      <input type="email" name="userMail" placeholder="your email here...">
      <input type="submit" name="fullSend" value="Send">
    </form>
    {% endblock %}
  </body>
</html>
